div.register-student {
  margin-top: 48px;
  margin: 0 auto;
}
div.register-student li {
  margin-bottom: 24px;
}
div.register-student label {
  display: inline-block;
  width: 150px;
  vertical-align: top;
}
div.register-student input[type=text],
div.register-student input[type=password] {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  width: 250px;
  height: 30px;
  text-align: center;
  margin-right: 50px;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  overflow: auto;
  font-size: 10px;
  width: 250px;
  height: 30px;
  padding-left: 10px;
}
.option {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align: center;
  vertical-align: middle;
  padding: 8px 8px;
  font-size: 10px;
}
div.register-student textarea {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  width: 250px;
  height: 192px;
  padding: 10px;
}
div.list {
  margin-top: 24px;
  margin-left: 72px;
  width: 460px;
  float: left;
}
div.register-student input[type=submit] {
  background: #73BF43;
  background-image: -webkit-linear-gradient(top, #73bf43, #0c8a47);
  background-image: -moz-linear-gradient(top, #73bf43, #0c8a47);
  background-image: -ms-linear-gradient(top, #73bf43, #0c8a47);
  background-image: -o-linear-gradient(top, #73bf43, #0c8a47);
  background-image: linear-gradient(to bottom, #73bf43, #0c8a47);
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: 0;
  margin-top: 24px;
  float: left;
  cursor: pointer;
}
div.form-errors,
div.message {
  text-align: left;
  color: red;
  float: left;
  margin-left: 50px;
  margin-top: 34px;
}
div.message {
  color: #0c8a47;
}
div.form-errors li,
div.message li {
  margin: 0;
}

/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
