div.left {
  margin-top: 24px;
  margin-left: 48px;
  width: 460px;
  float: left;
}
div.left li {
  margin-bottom: 24px;
}
table td {
  width: 360px;
  padding-bottom: 24px;
}
.caption {
  width: 180px;
  font-weight: bold;
  font-style: normal;
}
p {
  font-style: italic;
}
button {
  background: #73BF43;
  background-image: -webkit-linear-gradient(top, #73bf43, #0c8a47);
  background-image: -moz-linear-gradient(top, #73bf43, #0c8a47);
  background-image: -ms-linear-gradient(top, #73bf43, #0c8a47);
  background-image: -o-linear-gradient(top, #73bf43, #0c8a47);
  background-image: linear-gradient(to bottom, #73bf43, #0c8a47);
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: 0;
  float: right;
  cursor: pointer;
  margin-top: 96px;
  margin-right: 24px;
}
